



{% extends "guidance/admin/main.html" %}
{% load static %}
{% block title %}Counseling App With Scheduler{% endblock %}
{% block headcontent %}
<link rel="stylesheet" type="text/css" href="{% static 'guidance/stylesheet/counseling_app.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'guidance/stylesheet/call_slip.css'%}">
{% endblock %}
{% block bodycontent %}\
    <div class="showform_container" id="form-view">
        <div class="form_container"  style="max-width:355.6mm;max-height: 217.9mm;">
            <button class="closeform">×</button>
            <div class="scollable">
                <div class="certificate" id="paper"> 
                    <div class="logo_content">
                        <img class="logo1" src="{% static 'guidance/assets/CTU_logo.png'%}" alt="CTU Logo">
                        <div class="header">
                            <p class="Republique">REPUBLIC OF THE PHILIPPINES</p>
                            <p class="cebu">CEBU TECHNOLOGICAL UNIVERSITY ARGAO CAMPUS</p>
                            <p>ARGAO CAMPUS</p>
                            <p>Ed Kintanar Street Lamacan, Argao Cebu Philippines</p>
                            <p>Website:<a href="">http//www.argao.ctu.edu.ph</a> E-mail: cdargao@ctud.edu.ph</p>
                            <p>Phone No: (032) 485-8290/485-5109 loc 1700Fax NO (032)4858-290</p>
                        </div>
                        <img class="logo2" src="{% static 'guidance/assets/Bagong_Pilipinas_logo.png'%}" alt="ASEAN Logo">
                    </div>
                    <div class="title">
                        <h3>Student Affairs Office
                            <br>
                            GUIDANCE OFFICE
                        </h3>
                        <br>
                        <br>
                        <h2>
                            Call Slip
                        </h2>
                    </div>
                    <div class="content">
                        <table id="table_call">
                            <thead>
                                <tr>
                                    <th>DATE RECIEVED</th>
                                    <th class="nameColumn">NAME</th>
                                    <th>PROGRAM/YEAR AND SECTION</th>
                                    <th class="contactColumn">CONTACT NO.</th>
                                    <th>DATE AND TIME OF MEETING</th>
                                    <th>REASON FOR CALL</th>
                                    <th>SIGNATURE</th>
                                </tr>
                            </thead>
                            <tbody class="call_table">
                                <tr>
                                    <td class="call_date1"></td>
                                    <td class="call_date2"></td>
                                    <td class="call_date3"></td>
                                    <td class="call_date4"></td>
                                    <td class="call_date5"></td>
                                    <td class="call_date6"></td>
                                    <td class="call_date7"></td>
                                </tr>
                                <tr>
                                    <td class="call_date1"></td>
                                    <td class="call_date2"></td>
                                    <td class="call_date3"></td>
                                    <td class="call_date4"></td>
                                    <td class="call_date5"></td>
                                    <td class="call_date6"></td>
                                    <td class="call_date7"></td>
                                </tr>
                                <tr>
                                    <td class="call_date1"></td>
                                    <td class="call_date2"></td>
                                    <td class="call_date3"></td>
                                    <td class="call_date4"></td>
                                    <td class="call_date5"></td>
                                    <td class="call_date6"></td>
                                    <td class="call_date7"></td>
                                </tr>
                                <tr>
                                    <td class="call_date1"></td>
                                    <td class="call_date2"></td>
                                    <td class="call_date3"></td>
                                    <td class="call_date4"></td>
                                    <td class="call_date5"></td>
                                    <td class="call_date6"></td>
                                    <td class="call_date7"></td>
                                </tr>
                                <tr>
                                    <td class="call_date1"></td>
                                    <td class="call_date2"></td>
                                    <td class="call_date3"></td>
                                    <td class="call_date4"></td>
                                    <td class="call_date5"></td>
                                    <td class="call_date6"></td>
                                    <td class="call_date7"></td>
                                </tr>
                                <tr>
                                    <td class="call_date1"></td>
                                    <td class="call_date2"></td>
                                    <td class="call_date3"></td>
                                    <td class="call_date4"></td>
                                    <td class="call_date5"></td>
                                    <td class="call_date6"></td>
                                    <td class="call_date7"></td>
                                </tr>
                                <tr>
                                    <td class="call_date1"></td>
                                    <td class="call_date2"></td>
                                    <td class="call_date3"></td>
                                    <td class="call_date4"></td>
                                    <td class="call_date5"></td>
                                    <td class="call_date6"></td>
                                    <td class="call_date7"></td>
                                </tr>
                                <tr>
                                    <td class="call_date1"></td>
                                    <td class="call_date2"></td>
                                    <td class="call_date3"></td>
                                    <td class="call_date4"></td>
                                    <td class="call_date5"></td>
                                    <td class="call_date6"></td>
                                    <td class="call_date7"></td>
                                </tr>
                                <tr>
                                    <td class="call_date1"></td>
                                    <td class="call_date2"></td>
                                    <td class="call_date3"></td>
                                    <td class="call_date4"></td>
                                    <td class="call_date5"></td>
                                    <td class="call_date6"></td>
                                    <td class="call_date7"></td>
                                </tr>
                                <tr>
                                    <td class="call_date1"></td>
                                    <td class="call_date2"></td>
                                    <td class="call_date3"></td>
                                    <td class="call_date4"></td>
                                    <td class="call_date5"></td>
                                    <td class="call_date6"></td>
                                    <td class="call_date7"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                </div>
            </div>
            <button class="saveButton" id="printBtn">Print</button>
        </div>
    </div>   
    <div class="container">
        {{form.errors}}
        <h3>GUIDANCE</h3>
        <span><label id="dir-gray">Home</label><label id="dir-orange"> > Counseling App with Scheduler</label></span>
        <div class="form-container">
            <form>
                {% csrf_token %}
                <h2>Request Counseling Schedule</h2>
                <label>Enter ID number:</label>
                <span id="search_id">
                    <input type="text" name="studentID" placeholder="search" required="" id="studentIDBox">
                    <button class="OrangeButton" id="searchButton">Search</button>
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </span>
                <table id="info_table" class="hidden">
                    <tr id="info_table_head">
                        <th>NAME</th>
                        <th>PROGRAM/YEAR AND SECTION</th>
                        <th>CONTACT NO.</th>
                    </tr>
                </table>
            </form>
            <form action="" id="requestForm" class="hidden">
                {% csrf_token %}
                <input type="hidden" id="student_id_val" name="student_id_val">
                <div id="requestScheduleContainer">
                    <label>Reason of counseling</label>
                    <input type="text" name="reason" placeholder="Enter a reason for counseling" maxlength="255" required="" id="id_reason">
                    <div id="datetimepicker">
                        <label>Schedule Date and Time</label>
                        <input type="date" name="scheduled_date" placeholder="Select a date" required="" id="id_scheduled_date">
                        <select name="scheduled_time" disabled="disabled" required="" id="id_scheduled_time">
                            <option value="" selected="">---------</option>
                          
                            <option value="8-9">8:00 AM - 9:00 AM</option>
                          
                            <option value="9-10">9:00 AM - 10:00 AM</option>
                          
                            <option value="10-11">10:00 AM-11:00 AM</option>
                          
                            <option value="11-12">11:00 AM -12:00 PM</option>
                          
                            <option value="1-2">1:00 PM - 2:00 PM</option>
                          
                            <option value="2-3">2:00 PM - 3:00 PM</option>
                          
                            <option value="3-4">3:00 PM - 4:00 PM</option>
                          
                            <option value="4-5">4:00 PM - 5:00 PM</option>
                          
                          </select>
                    </div>
                    <button id="addSchedule" class="OrangeButton">Add</button>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'guidance/scripts/add_counseling.js'%}"></script>
{% endblock %}